@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

@font-face {
    font-family: "OptimaLTStd";
    src: url('../fonts/Optima-LT-Std-Roman_34091.ttf');
}

@mixin font($font-family, $font-weight, $font-size, $letter-spacing) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: white;
}

@mixin button {
    display: inline-block;
    width: 225px;
    height: 60px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: rgb(73,107,254);
    background: linear-gradient(45deg, rgba(73,107,254,1) 38%, rgba(84,116,253,1) 38%);
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    @include font("OptimaLTStd", 400, 16px, 1.5px);
}

@mixin content-block($left, $bottom) {
    position: absolute;
    left: $left;
    bottom: $bottom;
    max-width: 540px;
    max-height: 370px;
    background: #312b27;
    opacity: 0.92;
    padding: 50px 30px;
    span {
        @include font('Josefin Sans', 300, 20px, 1px);
    }
    h3 {
        @include font('Josefin Sans', 300, 20px, 1px);
        text-transform: uppercase;
        padding: 30px 0; 
    }
    p {
        @include font('Josefin Sans', 300, 16px, 0);
        line-height: 26px;
    }
    a {
        @include button;
        margin-top: 50px;
    }
    a:active {
        box-shadow: inset 0px 0px 5px 0px;
    }
}

@mixin media {
    height: 100vh;
    .content-box {
        height: 100vh;
        width: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        max-width: 480px;
        max-height: 900px;
        padding: 155px 30px;
        h3 {
            @include font('Josefin Sans', 300, 20px, 1px);
            text-transform: uppercase;
            padding: 50px 0; 
        }
        a {
            @include button;
            margin-top: 55px;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    header {
        background: url('../images/hero-screen.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
        .title-wrapper {
            position: absolute;
            max-width: 660px;
            text-align: center;
            margin: auto;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
                text-decoration: none;
                display: inline-block;
                h1 {
                    @include font('Josefin Sans', 500, 48px, 2px);
                    text-transform: uppercase;
                }
            }
            p {
                @include font('Josefin Sans', 300, 22px, 5.2px);
                padding: 5px 0 50px 0;
            }
            form {
                width: 650px;
                height: 60px;
                border: 2px solid white;
                background: white;
                .searchInput {
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    width: 500px;
                    height: 51px;
                    text-align: center;
                    padding: 0 8px 0 8px;
                    @include font('Josefin Sans', 300, 14px, 2px);
                    color: black;
                }
                .searchBtn {
                    display: inline-block;
                    width: 142px;
                    height: 56px;
                    text-decoration: none;
                    background: #5474fd;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    padding-right: 23px;
                    padding-top: 20px;
                    @include font("Montserrat", 400, 14px, 1px);
                    i {
                        position: absolute;
                        right: 31px;
                        bottom: 24.5px;
                        font-size: 11.5px;
                    }
                }
                .searchBtn:active {
                    box-shadow: inset 0px 0px 3.5px 0px;
                }
            }
            form:invalid {
                border: 2px solid red;
                outline: none;
            }
        }
        .scroll-down {
            text-decoration: none;
            position: absolute;
            left: 50%;
            bottom: 17%;
            transform: translate(-50%, -50%);
            text-align: center;
            @include font('Josefin Sans', 300, 14.5px, 1px);
            div {
                padding-top: 8px;
            }
        }
        .menu-wrapper {
            height: 70px;
            width: 100%;
            background: #5474fd;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            .logo {
                @include font('Josefin Sans', 500, 24px, 2px);
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            nav {
                ul {
                    display: flex;
                    li {
                        list-style-type: none;
                        padding: 0 22px;
                        a {
                            text-decoration: none;
                            @include font("OptimaLTStd", 400, 14px, 0);
                        }
                    }
                    li:hover {
                        transform: scale(1.1);
                        transition: 0.1s;
                    }
                    li:active {
                        transform: none;
                    }
                }
            }
        }
    }
    main {
        .wrapper-why-choose-us {
            background: url('../images/screen-2.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .flexbox {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                padding: 0 150px;
                .content-box {
                    width: 540px;
                    h2 {
                        @include font("OptimaLTStd", 400, 36px, 0.5px);
                        padding: 60px 0;
                    }
                    p {
                        @include font('Josefin Sans', 300, 16px, 1px);
                        line-height: 26px;
                    }
                    a {
                        @include button;
                        margin-top: 50px;
                    }
                    a:active {
                        box-shadow: inset 0px 0px 5px 0px;
                    }
                }
                .img-box {
                    max-width: 475px;
                    display: flex;
                    flex-direction: column;
                    .img-1 {
                        margin-right: 125px;
                        padding: 120px 0 5px 0;
                    }
                    .img-2 {
                        margin-left: 125px;
                        padding-bottom: 120px;
                    }
                }
            }
        }
        .icons-wrapper {
            background: #333333;
            position: relative;
            padding: 130px 0 100px 0;
            .icons-box {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                div {
                    margin: 0 90px;
                    text-align: center;
                    z-index: 100;
                    a {
                        text-decoration: none;
                        .row {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            background-color: #333333;
                        }
                        p {
                            @include font("OptimaLTStd", 400, 34px, 0.5px);
                            line-height: 80px;
                        }
                    }
                }
                div:hover {
                    transform: scale(1.1);
                    transition: 0.4s;
                }
                div:active {
                    transform: none;
                }
            }
            .dotted {
                position: absolute;
                left: 50%;
                transform: translate(-50.5%, -50%);
                top: 95px;
                z-index: 0;
            }
        }
        .country-wrapper-1 {
            background: url('../images/screen-3.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 700px;
            .content-box {
                @include content-block(19%, 15%);
            }
        }
        .country-wrapper-2 {
            background: url('../images/screen-4.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 700px;
            .content-box {
                @include content-block(none, 15%);
                right: 19%;
            }
        }
        .wrapper-what-our-tourist-say {
            background: url('../images/screen-5.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 780px;
            h2 {
                @include font("OptimaLTStd", 400, 36px, 0.5px);
                padding: 120px 0 100px 0;
                text-align: center;
            }
            .content-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                max-width: 1110px;
                max-height: 286px;
                div {
                    max-width: 665px;
                    background: #333333;
                    padding: 50px 60px;
                    h3 {
                        @include font('Josefin Sans', 300, 20px, 0);
                        text-transform: uppercase;
                        padding-bottom: 30px;
                    }
                    .quotation {
                        margin-bottom: -10px;
                        width: 20px;
                        height: 17px;
                    }
                    p {
                        @include font('Josefin Sans', 300, 16px, 0);
                        line-height: 26px;
                        text-indent: 28px;
                    }
                }
            }
        }
    }
    footer {
        background: #232323;
        position: relative;
        text-align: center;
        padding: 120px 0 50px 0;
        div {
            a {
                text-decoration: none;
                .logo {
                    @include font('Josefin Sans', 500, 24px, 2px);
                    text-transform: uppercase;
                }
            }
            p {
                @include font('Josefin Sans', 300, 16px, 0.8px);
                line-height: 32px;
            }
        }
        nav {
            padding-top: 25px;
            ul {
                display: flex;
                justify-content: center;
                li {
                    list-style-type: none;
                    padding: 0 11.7px;
                    a {
                        i {
                            color: white;
                        }
                        i:hover {
                            color: #5474fd;
                            transform: scale(1.05);
                        }
                        i:active {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        header {
            .title-wrapper {
                top: 38%;
                form {
                    width: 312px;
                    height: 40px;
                    .searchInput {
                        width: 220px;
                        height: 34px;
                        @include font('Josefin Sans', 300, 12px, 1px);
                        color: black;
                    }
                    .searchBtn {
                        width: 83.5px;
                        height: 36px;
                        padding-right: 18px;
                        padding-top: 11.5px;
                        @include font("Montserrat", 400, 11px, 1px);
                        i {
                            right: 11px;
                            bottom: 14.5px;
                            font-size: 10px;
                        }
                    }
                }
            }
            .scroll-down {
                display: none;
            }
            .menu-wrapper {
                height: 200px;
                background: none;
                position: absolute;
                bottom: 40px;
                text-align: center;
                .logo {
                    display: none;
                }
                nav {
                    ul {
                        flex-direction: column;
                        li {
                            padding: 10px 0;
                            a {
                                @include font("OptimaLTStd", 400, 18px, 1px);
                            }
                        }
                    }
                }
            }
        }
        main {
            .wrapper-why-choose-us {
                .flexbox {
                    .img-box {
                        .img-1 {
                            width: 320px;
                            margin-right: 0;
                            padding: 50px 0 10px 0;
                        }
                        .img-2 {
                            width: 320px;
                            margin-left: 0;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
            .icons-wrapper {
                padding: 50px 0;
                .icons-box {
                    div {
                        margin: 10px 70px;
                    }
                }
                .dotted {
                    display: none;
                }
            }
            .country-wrapper-1 {
                @include media;
            }
            .country-wrapper-2 {
                @include media;
            }
            .wrapper-what-our-tourist-say {
                h2 {
                    padding: 40px 0;
                }
                .content-box {
                    img {
                        width: 100%;
                    }
                    div {
                        width: 100%;
                        padding: 50px 20px 50px 50px;
                    }
                }
            }
        }
        footer {
            padding: 50px 0 30px 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        header {
            .title-wrapper {
                max-width: 650px;
                form {
                    transform: scale(0.7);
                }
            }
            .scroll-down {
                display: none;
            }
        }
        main {
            .icons-wrapper {
                .dotted {
                    display: none;
                }
            }
            .wrapper-what-our-tourist-say {
                h2 {
                    padding: 40px 0;
                }
            }
        }
        footer {
            padding: 50px 0 30px 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .container {
        header {
            .menu-wrapper {
                nav {
                    ul {
                        li {
                            padding: 0 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        header {
            .scroll-down {
                display: none;
            }
        }
        main {
            .icons-wrapper {
                .dotted {
                    display: none;
                }
            }
            .wrapper-what-our-tourist-say {
                h2 {
                    padding: 45px 0;
                }
            }
        }
        footer {
            padding: 40px 0 30px 0;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        main {
            .icons-wrapper {
                .dotted {
                    display: none;
                }
            }
        }
    }
}