@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
@font-face {
  font-family: "OptimaLTStd";
  src: url("../fonts/Optima-LT-Std-Roman_34091.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
}

.container header {
  background: url("../images/hero-screen.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.container header .title-wrapper {
  position: absolute;
  max-width: 660px;
  text-align: center;
  margin: auto;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container header .title-wrapper a {
  text-decoration: none;
  display: inline-block;
}

.container header .title-wrapper a h1 {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.container header .title-wrapper p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 5.2px;
  color: white;
  padding: 5px 0 50px 0;
}

.container header .title-wrapper form {
  width: 650px;
  height: 60px;
  border: 2px solid white;
  background: white;
}

.container header .title-wrapper form .searchInput {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 500px;
  height: 51px;
  text-align: center;
  padding: 0 8px 0 8px;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  color: black;
}

.container header .title-wrapper form .searchBtn {
  display: inline-block;
  width: 142px;
  height: 56px;
  text-decoration: none;
  background: #5474fd;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding-right: 23px;
  padding-top: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}

.container header .title-wrapper form .searchBtn i {
  position: absolute;
  right: 31px;
  bottom: 24.5px;
  font-size: 11.5px;
}

.container header .title-wrapper form .searchBtn:active {
  -webkit-box-shadow: inset 0px 0px 3.5px 0px;
          box-shadow: inset 0px 0px 3.5px 0px;
}

.container header .title-wrapper form:invalid {
  border: 2px solid red;
  outline: none;
}

.container header .scroll-down {
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 17%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 14.5px;
  letter-spacing: 1px;
  color: white;
}

.container header .scroll-down div {
  padding-top: 8px;
}

.container header .menu-wrapper {
  height: 70px;
  width: 100%;
  background: #5474fd;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .menu-wrapper .logo {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.container header .menu-wrapper .logo a {
  text-decoration: none;
  color: white;
}

.container header .menu-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header .menu-wrapper nav ul li {
  list-style-type: none;
  padding: 0 22px;
}

.container header .menu-wrapper nav ul li a {
  text-decoration: none;
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: white;
}

.container header .menu-wrapper nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container header .menu-wrapper nav ul li:active {
  -webkit-transform: none;
          transform: none;
}

.container main .wrapper-why-choose-us {
  background: url("../images/screen-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.container main .wrapper-why-choose-us .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px;
}

.container main .wrapper-why-choose-us .flexbox .content-box {
  width: 540px;
}

.container main .wrapper-why-choose-us .flexbox .content-box h2 {
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.5px;
  color: white;
  padding: 60px 0;
}

.container main .wrapper-why-choose-us .flexbox .content-box p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  line-height: 26px;
}

.container main .wrapper-why-choose-us .flexbox .content-box a {
  display: inline-block;
  width: 225px;
  height: 60px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #496bfe;
  background: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 50px;
}

.container main .wrapper-why-choose-us .flexbox .content-box a:active {
  -webkit-box-shadow: inset 0px 0px 5px 0px;
          box-shadow: inset 0px 0px 5px 0px;
}

.container main .wrapper-why-choose-us .flexbox .img-box {
  max-width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main .wrapper-why-choose-us .flexbox .img-box .img-1 {
  margin-right: 125px;
  padding: 120px 0 5px 0;
}

.container main .wrapper-why-choose-us .flexbox .img-box .img-2 {
  margin-left: 125px;
  padding-bottom: 120px;
}

.container main .icons-wrapper {
  background: #333333;
  position: relative;
  padding: 130px 0 100px 0;
}

.container main .icons-wrapper .icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container main .icons-wrapper .icons-box div {
  margin: 0 90px;
  text-align: center;
  z-index: 100;
}

.container main .icons-wrapper .icons-box div a {
  text-decoration: none;
}

.container main .icons-wrapper .icons-box div a .row {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #333333;
}

.container main .icons-wrapper .icons-box div a p {
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.5px;
  color: white;
  line-height: 80px;
}

.container main .icons-wrapper .icons-box div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container main .icons-wrapper .icons-box div:active {
  -webkit-transform: none;
          transform: none;
}

.container main .icons-wrapper .dotted {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50.5%, -50%);
          transform: translate(-50.5%, -50%);
  top: 95px;
  z-index: 0;
}

.container main .country-wrapper-1 {
  background: url("../images/screen-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 700px;
}

.container main .country-wrapper-1 .content-box {
  position: absolute;
  left: 19%;
  bottom: 15%;
  max-width: 540px;
  max-height: 370px;
  background: #312b27;
  opacity: 0.92;
  padding: 50px 30px;
}

.container main .country-wrapper-1 .content-box span {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.container main .country-wrapper-1 .content-box h3 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  padding: 30px 0;
}

.container main .country-wrapper-1 .content-box p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  color: white;
  line-height: 26px;
}

.container main .country-wrapper-1 .content-box a {
  display: inline-block;
  width: 225px;
  height: 60px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #496bfe;
  background: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 50px;
}

.container main .country-wrapper-1 .content-box a:active {
  -webkit-box-shadow: inset 0px 0px 5px 0px;
          box-shadow: inset 0px 0px 5px 0px;
}

.container main .country-wrapper-2 {
  background: url("../images/screen-4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 700px;
}

.container main .country-wrapper-2 .content-box {
  position: absolute;
  left: none;
  bottom: 15%;
  max-width: 540px;
  max-height: 370px;
  background: #312b27;
  opacity: 0.92;
  padding: 50px 30px;
  right: 19%;
}

.container main .country-wrapper-2 .content-box span {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.container main .country-wrapper-2 .content-box h3 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  padding: 30px 0;
}

.container main .country-wrapper-2 .content-box p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  color: white;
  line-height: 26px;
}

.container main .country-wrapper-2 .content-box a {
  display: inline-block;
  width: 225px;
  height: 60px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #496bfe;
  background: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 50px;
}

.container main .country-wrapper-2 .content-box a:active {
  -webkit-box-shadow: inset 0px 0px 5px 0px;
          box-shadow: inset 0px 0px 5px 0px;
}

.container main .wrapper-what-our-tourist-say {
  background: url("../images/screen-5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 780px;
}

.container main .wrapper-what-our-tourist-say h2 {
  font-family: "OptimaLTStd";
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.5px;
  color: white;
  padding: 120px 0 100px 0;
  text-align: center;
}

.container main .wrapper-what-our-tourist-say .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 1110px;
  max-height: 286px;
}

.container main .wrapper-what-our-tourist-say .content-box div {
  max-width: 665px;
  background: #333333;
  padding: 50px 60px;
}

.container main .wrapper-what-our-tourist-say .content-box div h3 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0;
  color: white;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.container main .wrapper-what-our-tourist-say .content-box div .quotation {
  margin-bottom: -10px;
  width: 20px;
  height: 17px;
}

.container main .wrapper-what-our-tourist-say .content-box div p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  color: white;
  line-height: 26px;
  text-indent: 28px;
}

.container footer {
  background: #232323;
  position: relative;
  text-align: center;
  padding: 120px 0 50px 0;
}

.container footer div a {
  text-decoration: none;
}

.container footer div a .logo {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.container footer div p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: white;
  line-height: 32px;
}

.container footer nav {
  padding-top: 25px;
}

.container footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container footer nav ul li {
  list-style-type: none;
  padding: 0 11.7px;
}

.container footer nav ul li a i {
  color: white;
}

.container footer nav ul li a i:hover {
  color: #5474fd;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container footer nav ul li a i:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (min-width: 320px) and (max-width: 480px) {
  .container header .title-wrapper {
    top: 38%;
  }
  .container header .title-wrapper form {
    width: 312px;
    height: 40px;
  }
  .container header .title-wrapper form .searchInput {
    width: 220px;
    height: 34px;
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    color: black;
  }
  .container header .title-wrapper form .searchBtn {
    width: 83.5px;
    height: 36px;
    padding-right: 18px;
    padding-top: 11.5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    color: white;
  }
  .container header .title-wrapper form .searchBtn i {
    right: 11px;
    bottom: 14.5px;
    font-size: 10px;
  }
  .container header .scroll-down {
    display: none;
  }
  .container header .menu-wrapper {
    height: 200px;
    background: none;
    position: absolute;
    bottom: 40px;
    text-align: center;
  }
  .container header .menu-wrapper .logo {
    display: none;
  }
  .container header .menu-wrapper nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container header .menu-wrapper nav ul li {
    padding: 10px 0;
  }
  .container header .menu-wrapper nav ul li a {
    font-family: "OptimaLTStd";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
  }
  .container main .wrapper-why-choose-us .flexbox .img-box .img-1 {
    width: 320px;
    margin-right: 0;
    padding: 50px 0 10px 0;
  }
  .container main .wrapper-why-choose-us .flexbox .img-box .img-2 {
    width: 320px;
    margin-left: 0;
    padding-bottom: 50px;
  }
  .container main .icons-wrapper {
    padding: 50px 0;
  }
  .container main .icons-wrapper .icons-box div {
    margin: 10px 70px;
  }
  .container main .icons-wrapper .dotted {
    display: none;
  }
  .container main .country-wrapper-1 {
    height: 100vh;
  }
  .container main .country-wrapper-1 .content-box {
    height: 100vh;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    max-width: 480px;
    max-height: 900px;
    padding: 155px 30px;
  }
  .container main .country-wrapper-1 .content-box h3 {
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    padding: 50px 0;
  }
  .container main .country-wrapper-1 .content-box a {
    display: inline-block;
    width: 225px;
    height: 60px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: #496bfe;
    background: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "OptimaLTStd";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white;
    margin-top: 55px;
  }
  .container main .country-wrapper-2 {
    height: 100vh;
  }
  .container main .country-wrapper-2 .content-box {
    height: 100vh;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    max-width: 480px;
    max-height: 900px;
    padding: 155px 30px;
  }
  .container main .country-wrapper-2 .content-box h3 {
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    padding: 50px 0;
  }
  .container main .country-wrapper-2 .content-box a {
    display: inline-block;
    width: 225px;
    height: 60px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: #496bfe;
    background: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "OptimaLTStd";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white;
    margin-top: 55px;
  }
  .container main .wrapper-what-our-tourist-say h2 {
    padding: 40px 0;
  }
  .container main .wrapper-what-our-tourist-say .content-box img {
    width: 100%;
  }
  .container main .wrapper-what-our-tourist-say .content-box div {
    width: 100%;
    padding: 50px 20px 50px 50px;
  }
  .container footer {
    padding: 50px 0 30px 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container header .title-wrapper {
    max-width: 650px;
  }
  .container header .title-wrapper form {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .container header .scroll-down {
    display: none;
  }
  .container main .icons-wrapper .dotted {
    display: none;
  }
  .container main .wrapper-what-our-tourist-say h2 {
    padding: 40px 0;
  }
  .container footer {
    padding: 50px 0 30px 0;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .container header .menu-wrapper nav ul li {
    padding: 0 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container header .scroll-down {
    display: none;
  }
  .container main .icons-wrapper .dotted {
    display: none;
  }
  .container main .wrapper-what-our-tourist-say h2 {
    padding: 45px 0;
  }
  .container footer {
    padding: 40px 0 30px 0;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container main .icons-wrapper .dotted {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */